@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Color Variables */
    --background: 0 0% 100%;
    --foreground: 210 100% 12%;
    --card: 0 0% 100%;
    --card-foreground: 210 100% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 12%;
    --primary: 210 98% 60%; /* #359efe */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 50% 90%;
    --secondary-foreground: 210 100% 12%;
    --muted: 210 40% 96%;
    --muted-foreground: 210 40% 40%;
    --accent: 210 98% 90%;
    --accent-foreground: 210 98% 60%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 20% 80%;
    --input: 210 20% 80%;
    --ring: 210 98% 60%;
    --radius: 0.5rem;
    --hover-background: 210 98% 60%;
    --hover-foreground: 0 0% 100%;
  }
  .dark {
    --background: 210 50% 10%;
    --foreground: 210 20% 90%;
    --card: 210 50% 10%;
    --card-foreground: 210 20% 90%;
    --popover: 210 50% 10%;
    --popover-foreground: 210 20% 90%;
    --primary: 210 98% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 50% 20%;
    --secondary-foreground: 210 20% 90%;
    --muted: 210 50% 20%;
    --muted-foreground: 210 20% 70%;
    --accent: 210 50% 30%;
    --accent-foreground: 210 20% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 50% 20%;
    --input: 210 50% 20%;
    --ring: 210 98% 60%;
    --hover-background: 210 98% 60%;
    --hover-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
